# JWT
JWT_SECRET=

# Database
DB_URL=jdbc:sqlserver://localhost:1433;databaseName=FastGuyDB;encrypt=false;sendStringParametersAsUnicode=true
DB_USER=JavaDuAn
DB_PASSWORD=

# GHN Shipping
GHN_TOKEN=
GHN_SHOP_ID=
GHN_FROM_DISTRICT_ID=1442
GHN_FROM_WARD_CODE=20107
GHN_DEFAULT_SERVICE_TYPE=2

# PayOS
PAYOS_CLIENT_ID=
PAYOS_API_KEY=
PAYOS_CHECKSUM_KEY=

# App
APP_WEB_URL=http://localhost:5173
